<!--Navbar-->
<nav>
  <div class="o-nav container_navbar">
  </div>
</nav>
<!--Cabelho - Menu -->
<header>
  <div class="o-header">

  </div>
</header>
 <!-- Principal -->
<main>
  <div class="o-principal">

    <section class="card-destaque">
      <h1 class="pageiniciativa_titlePrincipal">Iniciativas</h1>
      <app-card-destaque
        photoCover="../../../assets/imagem-quadrada.svg"
        cardTitle="Já está em vigor a lei que facilita a laqueadura e a vasectomia"
        cardDescription="Aprovada no Senado em agosto de 2022, entrou em vigor no início de março a lei que
                        reduziu para 21 anos a idade mínima de homens e mulheres para a esterilização
                        voluntária e acabou com a exigência do consentimento do conjunge para realização da
                        laqueadura e vasectomia (Lei 14.443/2022). Para a senadora Zenaide Maia (PSD-RN) as
                        novas medidas representam um avanço na legislação."
        cardSourceContent="fonte: Rádio Senado - notícias|2023"
        cardLink="https://www12.senado.leg.br/radio/1/noticia/2023/03/06/ja-esta-em-vigor-a-lei-que-facilita-a-laqueadura-e-a-vasectomia"
        cardDescriptionLink="Saiba mais"
      >
      </app-card-destaque>
    </section>

    <h3 class="pageiniciativa_title">Veja mais iniciativas</h3>

    <section class="container_card-vertical">
      <app-card-vertical
        photoCover="../../../assets/elas.svg"
        cardTitle="Fundo ELAS"
        cardDescription="O ELAS+ é uma organização feminista não governamental com fundo Social."
        cardLink="https://fundosocialelas.org/"
      >
      </app-card-vertical>
      <app-card-vertical
        photoCover="../../../assets/grupomulheres.svg"
        cardTitle="Grupo Mulheres"
        cardDescription="Políticas afirmativas e eliminar as desigualdades sociais e muitos outros assuntos."
        cardLink="https://www.grupomulheresdobrasil.org.br/"
      >
      </app-card-vertical>
      <app-card-vertical
        photoCover="../../../assets/ongclaodgirls.svg"
        cardTitle="Meetup Cloud Girls"
        cardDescription="São mulheres que dedicam o seu tempo voluntariamente para apoiarem outras mulheres."
        cardLink="https://www.cloudgirls.com.br/"
      >
      </app-card-vertical>
      <app-card-vertical
        photoCover="../../../assets/b2mamy.svg"
        cardTitle="B2Mamy"
        cardDescription="Uma comunidade que cuida de quem cuida: abraça, conecta, impulsiona, capacita, entretém, emprega, acolhe e provoca."
        cardLink="https://www.b2mamy.com.br/"
      >
      </app-card-vertical>
      <app-card-vertical
        photoCover="../../../assets/tomojuntas.svg"
        cardTitle="ONG TAMO JUNTAS"
        cardDescription="Organização feminista composta por mulheres profissionais que atuam
                         na assistência multidisciplinar a mulheres em situação de
                         violência."
        cardLink="https://tamojuntas.org.br/"
      >
      </app-card-vertical>
    </section>


  </div>
</main>
<!--Rodapé-->
<footer>
  <div class="o-footer">
  </div>
</footer>
