<section class="container_footer">
  <div>
    <ul class="lista_navbar">
      <li class="pages"><a href="#" class="link-page"> Colaboração</a></li>
      <li class="pages"><a href="#" class="link-page"> Projetos e iniciativas</a></li>
      <li class="pages"><a href="#" class="link-page"> Recursos adicionais</a></li>
      <li class="pages"><a href="#" class="link-page"> Empregos e Oportunidades</a></li>
    </ul>
  </div>
  <div class="container_cooperate">
    <img class="imagem-card" src="../../../assets/icon-cooperate.svg" alt="Descrição acessível da imagem">
    <span>Contribua com o projeto!</span>
  </div>
  <div>
    <ul class="lista_navbar">
      <li class="pages"><a href="#" class="link-page"> Sobre nós</a></li>
      <li class="pages"><a href="#" class="link-page"> Missão e Valores</a></li>
      <li class="pages"><a href="#" class="link-page"> Contato</a></li>
      <li class="pages"><a href="#" class="link-page"> Politica editorial</a></li>
    </ul>
  </div>
</section>
