
<article class="container_card-horizontal">
  <img class="imagem-card" src="../../../assets/imagem-quadrada.svg" alt="Descrição acessível da imagem">

  <div class="card-content">
    <div class="container_texto">
    <h2 class="titulo-card">Título do Card</h2>
    <p class="texto-card">For athletes, high altitude produces two contradictory effects on performance.For explosive events
      Physiological respiration involves the mechanisms that ensure that the composition of the functional </p>
    </div>
    <div class="container_link">
    <a href="#" class="link">ver mais</a>
    </div>
  </div>
</article>
