<!--Navbar-->
<nav>
  <div class="o-nav container_navbar">
  </div>
</nav>
<!--Cabelho - Banner -->
<header>
  <div class="o-header">
    <section class="container_header">
      <h1 class="card_title">Buscar</h1>
      <p class="card_description">Mavegar por todas as seções</p>
    </section>
  </div>
</header>
<!-- Principal -->
<main>
  <div class="o-principal">
    <section class="container_sections-all">
       <!--Saúde e Bem-Estar-->
       <section class="container_section container_saude-bemEstar">
         <app-card-sections
           photoCover="../../../assets/Saúde e Bem-Estar.svg"
           cardTitle="Saúde e Bem-Estar"
           cardLink="#"
         >
         </app-card-sections>
         <app-card-sections
           photoCover="../../../assets/Saúde Reprodutiva.svg"
           cardTitle="Saúde Reprodutiva"
           cardLink="#"
         >
         </app-card-sections>
         <app-card-sections
           photoCover="../../../assets/Saúde e Nutrição.svg"
           cardTitle="Saúde e Bem-Estar"
           cardLink="#"
         >
         </app-card-sections>
         <app-card-sections
           photoCover="../../../assets/Fitness e Exercícios.svg"
           cardTitle="Saúde e Nutrição"
           cardLink="#"
         >
         </app-card-sections>
       </section>
       <!--Empoderamento Feminino-->
       <section class="container_section container_empoderamento-feminino">
         <app-card-sections
           photoCover="../../../assets/Empoderamento Feminino.svg"
           cardTitle="Empoderamento Feminino"
           cardLink="#"
         >
         </app-card-sections>
         <app-card-sections
           photoCover="../../../assets/Oportunidades Profissionais.svg"
           cardTitle="Oportunidades Profissionais"
           cardLink="#"
         >
         </app-card-sections>
         <app-card-sections
           photoCover="../../../assets/Liderança Feminina.svg"
           cardTitle="Liderança Feminina"
           cardLink="#"
         >
         </app-card-sections>
         <app-card-sections
           photoCover="../../../assets/Equidade de Gênero.svg"
           cardTitle="Equidade de Gênero"
           cardLink="#"
         >
         </app-card-sections>
        </section>
        <!--Moda e Beleza-->
        <section class="container_section container_modo-beleza">
         <app-card-sections
           photoCover="../../../assets/Moda e Beleza.svg"
           cardTitle="Moda e Beleza"
           cardLink="#"
         >
         </app-card-sections>
         <app-card-sections
           photoCover="../../../assets/Cuidados com a Pele e Maquiagem.svg"
           cardTitle="Cuidados com a Pele e Maquiagem"
           cardLink="#"
         >
         </app-card-sections>
         <app-card-sections
           photoCover="../../../assets/Cabelo e Penteados.svg"
           cardTitle="Cabelo e Penteados"
           cardLink="#"
         >
         </app-card-sections>
         <app-card-sections
           photoCover="../../../assets/Moda Feminina.svg"
           cardTitle="Moda Feminina"
           cardLink="#"
         >
         </app-card-sections>
        </section>
        <!--Relacionamento e Família-->
        <section class="container_section container_relacionamento-familia">
          <app-card-sections
            photoCover="../../../assets/Relacionamentos e Família.svg"
            cardTitle="Relacionamentos e Família"
            cardLink="#"
          >
          </app-card-sections>
          <app-card-sections
            photoCover="../../../assets/Relacionamentos Amorosos.svg"
            cardTitle="Relacionamentos Amorosos"
            cardLink="#"
          >
          </app-card-sections>
          <app-card-sections
            photoCover="../../../assets/Maternidade.svg"
            cardTitle="Maternidade"
            cardLink="#"
          >
          </app-card-sections>
          <app-card-sections
            photoCover="../../../assets/Dinâmicas Familiares.svg"
            cardTitle="Dinâmicas Familiares"
            cardLink="#"
          >
          </app-card-sections>
         </section>
         <!--Cultura e Entretenimento-->
        <section class="container_section container_cultura-entretenimento">
          <app-card-sections
            photoCover="../../../assets/Cultura e Entretenimento.svg"
            cardTitle="Cultura e Entretenimento"
            cardLink="#"
          >
          </app-card-sections>
          <app-card-sections
            photoCover="../../../assets/Filmes e Séries.svg"
            cardTitle="Filmes e Séries"
            cardLink="#"
          >
          </app-card-sections>
          <app-card-sections
            photoCover="../../../assets/Livros.svg"
            cardTitle="Livros"
            cardLink="#"
          >
          </app-card-sections>
          <app-card-sections
            photoCover="../../../assets/Arte.svg"
            cardTitle="Livros"
            cardLink="#"
          >
          </app-card-sections>
         </section>
          <!--Direitos e ativismo-->
          <section class="container_section container_direito-ativismo">
            <app-card-sections
              photoCover="../../../assets/Direitos e Ativismo.svg"
              cardTitle="Direitos e Ativismo"
              cardLink="#"
            >
            </app-card-sections>
            <app-card-sections
              photoCover="../../../assets/Direitos das Mulheres.svg"
              cardTitle="Direitos das Mulheres"
              cardLink="#"
            >
            </app-card-sections>
            <app-card-sections
              photoCover="../../../assets/Movimentos Feministas.svg"
              cardTitle="Movimentos Feministas"
              cardLink="#"
            >
            </app-card-sections>
            <app-card-sections
              photoCover="../../../assets/Ativismo pela Igualdade de Gênero.svg"
              cardTitle="Ativismo pela Igualdade de Gênero"
              cardLink="#"
            >
            </app-card-sections>
           </section>
           <!--Educação e Carreira-->
            <section class="container_section container_educacao-carreira">
              <app-card-sections
                photoCover="../../../assets/Educação e Carreira.svg"
                cardTitle="Educação e Carreira"
                cardLink="#"
              >
              </app-card-sections>
              <app-card-sections
                photoCover="../../../assets/Educação para Mulheres.svg"
                cardTitle="Educação para Mulheres"
                cardLink="#"
              >
              </app-card-sections>
              <app-card-sections
                photoCover="../../../assets/Desenvolvimento Profissional.svg"
                cardTitle="Desenvolvimento Profissional"
                cardLink="#"
              >
              </app-card-sections>
              <app-card-sections
                photoCover="../../../assets/Obstáculos no Ambiente de Trabalho.svg"
                cardTitle="Obstáculos no Ambiente de Trabalho"
                cardLink="#"
              >
              </app-card-sections>
             </section>
               <!--Estilo de vida-->
              <section class="container_section container_estilo-vida">
                <app-card-sections
                  photoCover="../../../assets/Estilo de Vida.svg"
                  cardTitle="Estilo de Vida"
                  cardLink="#"
                >
                </app-card-sections>
                <app-card-sections
                  photoCover="../../../assets/Hobbies e Interesses.svg"
                  cardTitle="Hobbies e Interesses"
                  cardLink="#"
                >
                </app-card-sections>
                <app-card-sections
                  photoCover="../../../assets/Autoaperfeiçoamento.svg"
                  cardTitle="Autoaperfeiçoamento"
                  cardLink="#"
                >
                </app-card-sections>
              </section>
      </section>
  </div>
</main>
<!--Rodapé-->
<footer>
  <div class="o-footer">
  </div>
</footer>
