
<!--Navbar-->
<nav>
  <div class="o-nav">
    <app-menu-bar></app-menu-bar>
  </div>
</nav>
<!--Cabelho - Menu -->
<header>
  <div class="o-header">
    <app-banner></app-banner>
  </div>
</header>
 <!-- Principal -->
 <main>
  <div class="o-principal">
    <section class="container_card-horinzontal">
      <app-card-horizontal></app-card-horizontal>
      <app-card-horizontal></app-card-horizontal>
      <app-card-horizontal></app-card-horizontal>
      <app-card-horizontal></app-card-horizontal>
      <app-card-horizontal></app-card-horizontal>
      <app-card-horizontal></app-card-horizontal>
    </section>
    <section class="container__card-info">
      <img class="icon-card" src="../../../assets/arrow-left.svg" alt="Descrição acessível da imagem">
      <app-card-info></app-card-info>
      <app-card-info></app-card-info>
      <app-card-info></app-card-info>
      <app-card-info></app-card-info>
      <img class="icon-card" src="../../../assets/arrow-hight.svg" alt="Descrição acessível da imagem">
    </section>
    <!-- <section class="container_card-vertical">
      <app-card-vertical></app-card-vertical>
      <app-card-vertical></app-card-vertical>
      <app-card-vertical></app-card-vertical>
      <app-card-vertical></app-card-vertical>
      <app-card-vertical></app-card-vertical>
    </section> -->
  </div>
 </main>

<!--Rodapé-->
<footer>
  <div class="o-footer">
    <app-footer></app-footer>
  </div>
</footer>

