<section class="container_navbar">
  <img class="imagem-card" src="../../../assets/logo.svg" alt="Descrição acessível da imagem">
  <ul class="lista_navbar">
    <li class="pages"><a [routerLink]="['home', Id]" id="home" class="link-page"> DESTAQUE</a></li>
    <li class="pages"><a [routerLink]="['explore', Id]" id="explore" class="link-page"> EXPLORAR</a></li>
    <li class="pages"><a [routerLink]="['sourceContent', Id]" id="sourceContent" class="link-page"> INICIATIVA</a></li>
  </ul>
</section>
